//custom variables
$primary : #e84f2c;
$secondary: #ffffff;
$success:  #9df605;
$info:          #1ea896;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:        #383e4b;
$dark:          #1f2633;

//import bootsrap
@import "../node_modules/bootstrap/scss/bootstrap";
