//custom variables
$primary : #04c097;
$secondary: #ffffff;
//$success:
$info:          #1ea896;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:        #2e3030;
$dark:          #0b0b0b;

//import bootsrap
@import "../node_modules/bootstrap/scss/bootstrap";
